<!doctype html>
<html lang="en">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
<section id="header_about">
    <div class="hat__about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-3 text-left">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-7 d-md-none d-lg-block d-none d-sm-block">
                    <nav>
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="index.html">
                                    Главная
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="about.html">
                                    О компании
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#">
                                    ВНЖ и ПМЖ в Болгарии
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="move.html">
                                    Недвижимость и переезд
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="contacts.html">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-4 offset-md-4 offset-lg-0 d-none d-sm-block">
                    <div class="contacts">
                        <div class="contacts__img">
                            <a href="#">
                                <img src="../img/phone.png">
                            </a>
                        </div>
                        <div class="contacts__phone">
                            +7 (495) 12-321-345 <br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-block d-lg-none col-2 offset-7 col-md-1 offset-md-0">
                    <a href="#">
                        <div class="triple">
                            <div class="block"></div>
                            <div class="block"></div>
                            <div class="block"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="introduction__about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Болгария</h1>
                    <p>Ждет вас</p>
                    <a href="#">
                        <img src="../img/arrow.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partners">
    <div class="container">
        <div class="wrapper">
            <div class="description">
                <div class="text__description">
                    <p>
                        <span>Надежность и достоверность</span> - главные принципы нашей работы. Мы всегда готовы ответить на самые сложные и неоднозначные вопросы о переезде в Болгарию, помочь со всеми
                        формальностями и принять верное решение!
                    </p>
                </div>
                <div class="caps">
                    <div class="caps__item1">
                        <p>
                            <span>Десятки</span><br> довольных клиентов
                        </p>
                    </div>
                    <div class="caps__item2">
                        <p>уже обрели</p>
                    </div>
                    <div class="caps__item3">
                        <p>
                            <span>Новый дом</span><br> в болгарии
                        </p>
                    </div>
                </div>
            </div>
            <div class="ready">
                <p>А вы готовы?</p>
            </div>
            <div class="partners">
                <h3>Управляющие партнеры</h3>
                <div class="content">
                    <div class="igor">
                        <img src="../img/igor.png">
                        <h5>Игорь Ковалев</h5>
                        <p>
                            Переезд в другую страну всегда сопряжен с рисками, особенно если Вы переезжаете всей семьей. Необходимо позаботиться - в какой детский сад будут хоть ваши дети, какую школу посещать, как получить медицинскую помощь вашим родителям и какой бизнес вы сможете открыть на новом месте жительства. Мы поможем Вам разобраться во всех деталях, а вам останется только наслаждаться новым уровнем жизни! :)
                        </p>
                    </div>
                    <div class="victor">
                        <img src="../img/victor.png">
                        <h5>Виктор Петров</h5>
                        <p>
                            Я на своем опыте убедился сколько сложностей возникает при переезде в другую страну. Сколько нюансов нужно узнать и учесть, что легально переехать на ВНЖ. Но скажу точно - это того стоит! Каждое утро я вижу Солнечный берег и Вам готов помочь в переезде в Болгарию. В добрый путь!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ask_a_question">
    <div class="container">
        <div class="column">
            <div class="md-col-12">
                <h3>
                    Есть вопросы<br>
                    по переезду в болгарию?
                </h3>
                <h5>
                    Мы проконсультируем<br>
                    Вас бесплатно!
                </h5>
                <img class="miniarrow__about" src="../img/marrow.png">
            </div>
            <div class="request_call_about">
                <form>
                    <Input type="name" placeholder="Имя" class="Input__about">
                    <Input type="email" placeholder="E-mail" class="Input__about">
                    <Input type="phone" placeholder="Телефон" class="Input__about">
                    <button type="submit" class="act_about">Заказать консультацию</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="footer__about">
    <div class="footer__about">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-3">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-4 offset-5 offset-lg-0 offset-md-0">
                    <div class="copyright__about">
                        2016 / Все права защищены
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 d-none d-sm-block">
                    <div class="politika__about">
                        Политика конфиденциальности
                    </div>
                </div>
                <div class="col-lg-3 d-none d-xxl-block">
                    <div class="contacts2__about">
                        <div class="phone__icon2__about">
                            <a href="#">
                                <img src="../img/phone2.png">
                            </a>
                        </div>
                        <div class="phone2__about">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>