<!doctype html>
<html lang="en">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
<section id="header_contacts">
    <div class="header__contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-3 text-left">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-7 d-md-none d-lg-block d-none d-sm-block">
                    <nav>
                        <ul class="menu__contacts">
                            <li class="menu__item__contacts">
                                <a href="index.html">
                                    Главная
                                </a>
                            </li>
                            <li class="menu__item__contacts">
                                <a href="about.html">
                                    О компании
                                </a>
                            </li>
                            <li class="menu__item__contacts">
                                <a href="#">
                                    Внж и пмж в Болгарии
                                </a>
                            </li>
                            <li class="menu__item__contacts">
                                <a href="move.html">
                                    Недвижимость и переезд
                                </a>
                            </li>
                            <li class="menu__item__contacts">
                                <a href="contacts.html">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-4 offset-md-4 offset-lg-0 d-none d-sm-block">
                    <div class="contacts__contacts">
                        <div class="phone__icon__contacts">
                            <a href="#">
                                <img src="../img/phone.png">
                            </a>
                        </div>
                        <div class="phone__contacts">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-block d-lg-none col-2 offset-7 col-md-1 offset-md-0">
                    <a href="#">
                        <div class="triple">
                            <div class="block"></div>
                            <div class="block"></div>
                            <div class="block"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="introduction__contacts">
        <h1>контакты</h1>
        <div class="arrow__contacts">
            <img src="../img/arrow.png">
        </div>
    </div>
</section>
<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="wrapper__contacts">
                    <p>Мы всегда на связи и ответим на все интересующие Вас вопросы!</p>
                    <div class="wrapper__first__contacts">
                        <div class="wrapper__second__contacts">
                            <div class="item__contacts">
                                <div class="img">
                                    <img src="../img/cont.png">
                                </div>
                                <div class="item__text__contacts">
                                    <h5>Телефоны</h5>
                                    <p>В Болгарии  8 (123) 12-123-123<br>
                                        В России     8 (495) 12-123-123</p>
                                </div>
                            </div>
                            <div class="item__contacts">
                                <div class="img">
                                    <img src="../img/email.png">
                                </div>
                                <div class="item__text__contacts">
                                    <h5>E-mail</h5>
                                    <p>info@sitename.ru</p>
                                </div>
                            </div>
                            <div class="item__contacts">
                                <div class="img">
                                    <img src="../img/skype.png">
                                </div>
                                <div class="item__text__contacts">
                                    <h5>Skype</h5>
                                    <p>skypename</p>
                                </div>
                            </div>
                        </div>
                        <div class="form__contacts">
                            <h3>Есть вопросы <br> <span>по переезду в Болгарию?</span></h3>
                            <p>Мы проконсультируем <br> Вас бесплатно</p>
                            <form>
                                <div class="form__item__contacts">
                                    <input type="text" name="name" placeholder="Имя" required id="name">
                                </div>
                                <div class="form__item__contacts">
                                    <input type="text" name="email" placeholder="E-mail" required id="email">
                                </div>
                                <div class="form__item__contacts">
                                    <input type="tel" name="tel" placeholder="Телефон" required id="tel">
                                </div>
                                <div class="form__button__contacts">
                                    <button type="submit">Заказать консультацию</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="footer__contacts">
    <div class="footer__contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-3">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-4 offset-5 offset-lg-0 offset-md-0">
                    <div class="copyright__contacts">
                        2016 / Все права защищены
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 d-none d-sm-block">
                    <div class="politika__contacts">
                        Политика конфиденциальности
                    </div>
                </div>
                <div class="col-lg-3 d-none d-xxl-block">
                    <div class="contacts2__contacts">
                        <div class="phone__icon2__contacts">
                            <a href="#">
                                <img src="../img/phone2.png">
                            </a>
                        </div>
                        <div class="phone2__contacts">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>