<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-3 text-left">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-7 d-md-none d-lg-block d-none d-sm-block">
                    <nav>
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="#">
                                    Главная
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="about.html">
                                    О компании
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#">
                                    Внж и пмж в Болгарии
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="move.html">
                                    Недвижимость и переезд
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="contacts.html">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-4 offset-md-4 offset-lg-0 d-none d-sm-block">
                    <div class="contacts">
                        <div class="phone__icon">
                            <a href="#">
                                <img src="../img/phone.png">
                            </a>
                        </div>
                        <div class="phone">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-block d-lg-none col-2 offset-7 offset-md-0 col-md-1">
                    <a href="#">
                        <div class="triple">
                            <div class="block"></div>
                            <div class="block"></div>
                            <div class="block"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="first_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="introduction">
                        <h1>Болгария</h1>
                        <h2>Ждет вас</h2>
                    <div class="arrow">
                        <img src="../img/arrow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Наши преимущества</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-12" >
                <div class="wrapper">
                    <div class="image">
                        <img src="../img/handshake.png">
                    </div>
                    <h3>Надежность</h3>
                    <p>Мы всегда придем к вам на помощь в решении самых неоднозначных вопросов</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="wrapper">
                    <div class="image">
                        <img src="../img/legit.png">
                    </div>
                    <h3>Достоверность</h3>
                    <p>Достоверность - главный принцип нашей работы. Мы знаем все тонкости переезда в Болгарию и оформления соответствующих документов</p>
                </div>
            </div>
            <div class="col-md-12 col-12 col-lg-4">
                <div class="wrapper">
                    <div class="image">
                        <img src="../img/responsibility.png">
                    </div>
                    <h3>Компетентность</h3>
                    <p>Наши специалисты с большим опытом работы помогут разобраться во всех юридических тонкостях переезда
                        на ПМЖ в Болгарию</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="movingto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h3>Переезд в Болгарию</h3>
                <div class="quote">
                    <p>
                        «Если Вам не нравится то место, где вы находитесь -<br>
                        смените его, Вы же не дерево»<br>
                        <span>Джим Рон</span>
                    </p>
                </div>
                <div class="box">
                    <img class="arrow__first" src="../img/mini-arrow.png">
                    <img class="arrow__second" src="../img/mini-arrow.png">
                    <p>
                        Пришло время и перед Вами стоит вопрос<br>
                        <span>Как переехать в Болгарию на ВНЖ или ПМЖ?</span>
                    </p>
                </div>
                <div class="decision">
                    <h3>Мы знаем ответ</h3>
                    <p>
                        Подберем для Вас оптимальный вариант и предложим лучшие условия!
                    </p>
                </div>
                <div class="button">
                    <a href="#">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="dreams">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h3>Недвижимость и транспортные услуги</h3>
                <div class="dream__house">
                    <img class="pic1" src="../img/pic1.png">
                    <img class="pic3" src="../img/pic3.png">
                    <img class="pic2" src="../img/pic2.png">
                    <h5>Мечтаете о доме на Солнечном берегу?</h5>
                    <p>
                        Или хотите выгодно инвестировать в  заграничную недвижимость? В любом случае - подходящий вариант уже ждет Вас! Большой выбор объектов жилой и коммерческой недвижимости и профессиональный сервис позволит провести сделку с удовольствием и получить нужный результат
                    </p>
                    <img class="ball" src="../img/ball.png">
                </div>
                <div class="dream__house__second">
                    <p>
                        Если Ваши чемоданы уже собраны и Вы готовы к переезду, рады предложить Вам транспортные услуги по перевозке личный вещей в Болгарию. Для успешного размещения на новом месте жительства мы поможем перевести Ваши вещи в сохранности
                    </p>
                </div>
                <div class="button2">
                    <a href="#">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Отзывы наших клиентов</h2>
                <div class="prewrapper">
                    <div class="wrapper">
                        <img class="girl" src="../img/diana.png">
                        <a href="#">
                            <img class="left__arrow" src="../img/arrowleft.png">
                        </a>
                        <a href="#">
                            <img class="right__arrow" src="../img/arrowright.png">
                        </a>
                        <div class="wrapper__tittle">
                            <h4>Диана Апасова</h4>
                            <a href="#">vk.com/apasova</a>
                            <p>Москва → София</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in</p>
                    </div>
                </div>
                <div class="image__circle">
                    <img src="../img/circle1.png">
                    <img src="../img/circle2.png">
                    <img src="../img/circle3.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="questions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>
                    Есть вопросы<br>
                    по переезду в болгарию?
                </h3>
                <h5>
                    Мы проконсультируем<br>
                    Вас бесплатно!
                </h5>
                <img class="miniarrow" src="../img/marrow.png">
            </div>
            <div class="request_call">
                <form>
                    <Input type="name" placeholder="Имя" class="Input">
                    <Input type="email" placeholder="E-mail" class="Input">
                    <Input type="phone" placeholder="Телефон" class="Input">
                    <button type="submit" class="act">Заказать консультацию</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-3">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-4 offset-5 offset-lg-0 offset-md-0">
                    <div class="copyright">
                        2016 / Все права защищены
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 d-none d-sm-block">
                    <div class="politika">
                        Политика конфиденциальности
                    </div>
                </div>
                <div class="col-lg-3 d-none d-xxl-block">
                    <div class="contacts2">
                        <div class="phone__icon2">
                            <a href="#">
                                <img src="../img/phone2.png">
                            </a>
                        </div>
                        <div class="phone2">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>


