<!doctype html>
<html lang="en">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
<section id="header_move">
    <div class="header__move">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-3 text-left">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-7 d-md-none d-lg-block d-none d-sm-block">
                    <nav>
                        <ul class="menu__move">
                            <li class="menu__item__move">
                                <a href="index.html">
                                    Главная
                                </a>
                            </li>
                            <li class="menu__item__move">
                                <a href="about.html">
                                    О компании
                                </a>
                            </li>
                            <li class="menu__item__move">
                                <a href="#">
                                    Внж и пмж в Болгарии
                                </a>
                            </li>
                            <li class="menu__item__move">
                                <a href="move.html">
                                    Недвижимость и переезд
                                </a>
                            </li>
                            <li class="menu__item__move">
                                <a href="contacts.html">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-4 offset-md-4 offset-lg-0 d-none d-sm-block">
                    <div class="contacts__move">
                        <div class="phone__icon__move">
                            <a href="#">
                                <img src="../img/phone.png">
                            </a>
                        </div>
                        <div class="phone__move">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-block d-lg-none col-2 offset-7 col-md-1 offset-md-0">
                    <a href="#">
                        <div class="triple">
                            <div class="block"></div>
                            <div class="block"></div>
                            <div class="block"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="introduction__move">
            <h1>Недвижимость и переезд</h1>
            <div class="arrow__move">
                <img src="../img/arrow.png">
            </div>
        </div>
    </div>
</section>
<section id="move_mainpage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <p>После того, как решены юридические вопросы с видом на жительство
                        в Болгарии, главной задачей становится
                        <span>найти новый дом или квартиру и организовать перевоз вещей</span>
                    </p>
                    <div class="block">
                        <div class="img">
                            <img src="../img/bighouse.png">
                        </div>
                        <div class="text">
                            Мы подберем лучшие варианты для Вашей новой жизни и подходящие
                            по ценовой категории - будь то квартира-студия для молодой пары,
                            или роскошный дом на побережье для большой семьи.
                        </div>
                    </div>
                    <div class="block">
                        <div class="text__second">
                            При переезде в другую страну всегда возникает вопрос -
                            как перевозить все свои вещи? Мы готовы Вам помочь в перевозке
                            личных вещей из РФ в Болгарию. Большой опыт в перевозке вещей
                            поможет избежать лишних затрат и выбрать только надежные и
                            аккуратные транспортные компании, что гарантирует сохранность Вашего имущества.
                        </div>
                        <div class="img__second">
                            <img src="../img/boxes.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ask_a_question_move">
    <div class="container">
        <div class="column">
            <div class="md-col-12">
                <h3>
                    Есть вопросы<br>
                    по переезду в болгарию?
                </h3>
                <h5>
                    Мы проконсультируем<br>
                    Вас бесплатно!
                </h5>
                <img class="miniarrow__move" src="../img/marrow.png">
            </div>
            <div class="request_call_move">
                <form>
                    <Input type="name" placeholder="Имя" class="Input__move">
                    <Input type="email" placeholder="E-mail" class="Input__move">
                    <Input type="phone" placeholder="Телефон" class="Input__move">
                    <button type="submit" class="act_move">Заказать консультацию</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="footer__move">
    <div class="footer__move">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-3">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-4 offset-5 offset-lg-0 offset-md-0">
                    <div class="copyright__move">
                        2016 / Все права защищены
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 d-none d-sm-block">
                    <div class="politika__move">
                        Политика конфиденциальности
                    </div>
                </div>
                <div class="col-lg-3 d-none d-xxl-block">
                    <div class="contacts2__move">
                        <div class="phone__icon2__about">
                            <a href="#">
                                <img src="../img/phone2.png">
                            </a>
                        </div>
                        <div class="phone2__move">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>