<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-3 d-md-none d-lg-block">
                    <div class="copyright">
                        2016 / Все права защищены
                    </div>
                </div>
                <div class="col-lg-3 d-md-none d-lg-block">
                    <div class="politika">
                        Политика конфиденциальности
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-4 offset-md-4 offset-lg-0">
                    <div class="contacts2">
                        <div class="phone__icon2">
                            <a href="#">
                                <img src="../img/phone2.png">
                            </a>
                        </div>
                        <div class="phone2">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>