<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-4 text-left">
                    <a href="#">
                        <img src="../img/logo.png">
                    </a>
                </div>
                <div class="col-lg-7 d-md-none d-lg-block d-none d-sm-block">
                    <nav>
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="#">
                                    Главная
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="about.html">
                                    О компании
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#">
                                    Внж и пмж в Болгарии
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="move.html">
                                    Недвижимость и переезд
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="contacts.html">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-4 offset-md-4 offset-lg-0 d-none d-sm-block">
                    <div class="contacts">
                        <div class="phone__icon">
                            <a href="#">
                                <img src="../img/phone.png">
                            </a>
                        </div>
                        <div class="phone">
                            +7 (495) 12-321-345<br>
                            +7 (495) 12-321-345
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>