@import "global";
@import "helpers/mixins";
@import "helpers/variables";

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl 100.otf");
  font-weight: 100;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl 100 Italic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl 300.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl 300 Italic.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl 900.otf");
  font-weight: 900;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl 900 Italic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Natasha';
  src: url("../fonts/Natasha.ttf");
  font-weight: normal;
  font-style: normal;
}

//.container {
// padding: 0;
//  width: 1170px;
//}

header {

.header {
  background-color: #225269;
  background-size: cover;

  .row {
    align-items: center;
  }

    .menu {

      .menu__item {
        color: #FFFFFF;
        text-transform: uppercase;
        float: left;

        a {
          font-family: MuseoSansCyrl;
          font-size: 11px;
          font-weight: 900;
          color: #ffffff;
          line-height: 1.55;
          letter-spacing: 1.1px;
          text-decoration: none;
          padding: 13px 10px;

          &:hover {
            background: #345b70;
            padding: 10px;
            border-radius: 5px;
          }
        }
      }
    }

  .contacts {
    display: flex;
    float: right;

    .phone__icon {
      margin-top: 7px;
      margin-right: 9px;
    }

    .phone {
      font-family: MuseoSansCyrl;
      font-size: 16px;
      font-weight: 900;
      line-height: 1.31;
      letter-spacing: 0.32px;
      text-align: left;
      color: #ffffff;
    }
  }

  .triple {

    @include r(992) {
      justify-content: flex-end;
    }

    .block {
      width: 28px;
      height: 5px;
      margin-bottom: 3px;
      background-color: white;
    }
  }
 }
}

#first_page {
    background-image: url("../img/background.png");
    background-repeat: no-repeat repeat;
    padding-top: 204px;
    padding-bottom: 94px;
    background-size: cover;

  h1 {
    font-family: MuseoSansCyrl;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 41.4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    margin-bottom: 20px;

    @include r(992) {
      font-size: 64px;

    }

    @include r(576) {
      font-size: 44px;
      letter-spacing: 13px;
    }

  }

  h2 {
    font-family: MuseoSansCyrl;
    font-size: 51px;
    letter-spacing: 10.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    font-weight: 900;

    @include r(567) {
      font-size: 33px;
      letter-spacing: 6.6px;
    }
   }

  .arrow {
    text-align: center;
    margin-top: 168px;
  }
}

#advantages {
  padding-top: 89px;
  padding-bottom: 97px;

  h2 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 4.2px;
    text-align: center;
    color: #000000;
    margin-bottom: 62px;
    text-transform: uppercase;
  }

  .wrapper {
    padding: 56px 44px 80px 47px;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    height: 357px;

    @include r(992) {
      margin-top: 30px;
    }

    &:nth-child(2) {
      padding: 57px 32px 60px 35px;
    }

    &:nth-child(3) {
      padding: 58px 35px 60px 31px;

    }


    h3 {
      font-family: MuseoSansCyrl;
      font-size: 20px;
      font-weight: 900;
      line-height: 0.85;
      letter-spacing: 2px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;

      &:after {
        content: '';
        display: block;
        width: 37px;
        height: 1px;
        opacity: 0.19;
        background-color: #000000;
        margin: 17px auto 20px auto;
      }
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 17px;
      font-weight: 100;
      line-height: 1.29;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);
    }

    .image {
      text-align: center;
      margin-bottom: 34px;

      &:nth-child(3) {
        margin-left: 0;
      }
    }
  }
}

#movingto {
  background-image: url("../img/background-2.png");
  background-repeat: no-repeat repeat;
  padding-top: 95px;
  padding-bottom: 99px;
  background-size: cover;

  @include r(567) {
    padding-bottom: 86px;
  }

  h3 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 4.2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  .quote {
    margin-top: 29px;
    p {
      font-family: MuseoSansCyrl-100;
      font-size: 18px;
      font-style: italic;
      line-height: 1.44;
      color: #ffffff;
      text-align: center;
      font-weight: 100;

      span {
        font-family: MuseoSansCyrl;
        font-size: 14px;
        font-weight: 900;
        line-height: 3;
        letter-spacing: 2.52px;
        text-transform: uppercase;
        font-style: normal;
      }
    }
  }

  .box {
    border: 2px dotted white;
    padding: 49px 38px 30px 70px;
    position: relative;
    text-align: center;
    width: 770px;
    margin: 57px auto auto;
    white-space: nowrap;

    @include r(992) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    @include r(567) {
      width: 100%;
      white-space: normal;
    }

    .arrow__first {
      position: absolute;
      top: -17px;
      left: calc(50% - 16px);
    }

    .arrow__second {
      position: absolute;
      bottom: -17px;
      left: calc(50% - 16px);
    }

  p {
    font-family: MuseoSansCyrl;
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 1.9px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    span {
      font-family: MuseoSansCyrl;
      font-size: 23px;
      font-weight: 900;
      line-height: 2.3;
      letter-spacing: 2.3px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  }

  .decision {
    margin-top: 84px;

    p {
      font-family: MuseoSansCyrl;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1.8px;
      text-align: center;
      color: #ffffff;

      @include r(992) {
        font-size: 17px;
        margin-top: 15px;
      }
    }
  }

  .button {
    padding: 26px 36px 25px 34px;
    border-radius: 4px;
    border: solid 2px #ffffff;
    margin: 48px auto 0 auto;
    text-align: center;
    width: 216px;
    white-space: nowrap;

    @include r(992) {
      margin-top: 50px;
    }

    a {
      font-family: MuseoSansCyrl;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: 1.5px;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

#dreams {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/city (1).png");
  background-repeat: no-repeat repeat;
  background-size: cover;

  @include r(992) {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @include r(567) {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  h3 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 4.2px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;

  }

  .dream__house {
    width: 765px;
    height: 205px;
    background-color: #f4f4f4;
    padding: 70px 34px 13px 59px;
    position: relative;
    margin: 150px auto 0;

    @include r(992) {
      width: 100%;
    }

    @include r(567) {
      width: 100%;
      height: 339px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 600px;
      height: 70px;
      top: 0;
      z-index: 5;
      background-color: #f4f4f4;

      @include r(992) {
        width: 540px;
      }

      @include r(567) {
        width: 100%;
        left: 0;
      }
    }

    .pic1 {
      position: absolute;
      top: -65px;
      left: calc(50% - 170px);
      z-index: 1;
    }

    .pic2 {
      position: absolute;
      top: -126px;
      left: calc(50% - 89px);
      z-index: 6;
    }

    .pic3 {
      position: absolute;
      top: -57px;
      right: calc(50% - 170px);
      z-index: 2;
    }

    .ball {
      position: absolute;
      bottom: -33px;
      left: calc(50% - 29px);
    }

    h5 {
      font-family: MuseoSansCyrl;
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 9px;
      text-transform: uppercase;
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 17px;
      font-weight: 100;
      text-align: center;
      color: #000000;
    }
  }

  .dream__house__second {
    width: 765px;
    height: 144px;
    padding: 43px 20px 41px 26px;
    background-color: #f4f4f4;
    margin: 6px auto 0;

    @include r(992) {
      width: 100%;
    }

    @include r(567) {
      width: 100%;
      height: 204px;
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 17px;
      font-weight: 100;
      color: #000000;
      text-align: center;
    }
  }

  .button2 {
    padding: 26px 36px 25px 34px;
    border-radius: 4px;
    border: solid 2px #23aae2;
    margin: 60px auto 0 auto;
    text-align: center;
    width: 216px;
    white-space: nowrap;

    a {
      font-family: MuseoSansCyrl;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: 1.5px;
      color: #23aae2;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

#reviews {
  padding-bottom: 89px;
  padding-top: 69px;

  @include r(992) {
    padding-top: 50px;
    width: 100%;
  }

  h2 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 4.2px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 67px;
  }

  .wrapper {
      width: 765px;
      margin: 0 auto 51px auto;
      padding: 44px 41px 47px 127px;
      box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
      background-color: #ffffff;
      position: relative;

      @include r(567) {
        width: 100%;
        margin-top: 116px;
      }

      @include r(992) {
        width: 600px;
        padding: 89px 36px 44px 35px;
      }

      .girl {
        position: absolute;
        left: -66px;
        top: calc(50% - 66px);

        @include r(567) {
          left: 130px;
          top: -60px;
        }

        @include r(992) {
          left: -105px;
        }
      }

      .left__arrow {
        position: absolute;
        right: -100px;
        top: calc(50% - 6px);

        @include r(567) {
          display: none;
        }

        @include r(992) {
          right: -85px;
        }
      }

      .right__arrow {
        position: absolute;
        left: -166px;
        top: calc(50% - 6px);

        @include r(567) {
          display: none;
        }

        @include r(992) {
          left: -140px;
        }
      }

      .wrapper__tittle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 27px;

        @include r(567) {
          display: block;
          text-align: center;
        }

        @include r(992) {

        }

        h4 {
          font-family: MuseoSansCyrl;
          font-weight: 900;
          letter-spacing: 1.6px;
          text-align: left;
          color: #000000;
          text-transform: uppercase;

          @include r(567) {
            text-align: center;
            margin-bottom: 15px;
          }
        }

        a {
          font-family: MuseoSansCyrl;
          font-size: 12px;
          font-weight: 900;
          letter-spacing: 1.2px;
          text-align: left;
          color: #23aae2;
          text-transform: uppercase;
        }

        p {
          font-family: MuseoSansCyrl;
          font-size: 12px;
          font-weight: 100;
          letter-spacing: 1.2px;
          text-align: left;
          color: #23aae2;
          text-transform: uppercase;

          @include r(567) {
            text-align: center;
            margin-top: 9px;
          }
        }
      }
    }

  p {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    letter-spacing: 1.4px;
    text-align: left;
    color: #363636;

    @include r(567) {
      text-align: center;
    }
  }

  .image__circle {
    text-align: center;
  }
}

#questions {
  background-image: url("../img/confusing-background.png");
  background-repeat: no-repeat repeat;
  padding-top: 84px;
  padding-bottom: 84px;
  background-size: cover;

  h3 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  h5 {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
  }

  .miniarrow {
    display: block;
    text-align: center;
    margin: 35px auto 30px auto;
  }

  .request_call {
    text-align: center;

    .placeholder {
      color: #FFFFFF;
    }

    .Input {
      display: block;
      margin: 0 auto 9px auto;
      width: 370px;
      padding-top: 29px;
      padding-bottom: 28px;
      padding-left: 36px;
      border-radius: 3px;
      border: solid 1px #ffffff;
      background-color: #30c2ff;
      text-transform: uppercase;
      color: #FFFFFF;

      &:hover {
        box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);

        &::placeholder {
          color: white;
        }
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.56);
        font-family: MuseoSansCyrl;
        font-style: normal;
      }
    }

    .act {
      font-family: MuseoSansCyrl;
      font-size: 15px;
      font-weight: 900;
      text-align: center;
      padding: 30px 78px 27px 79px;
      border-radius: 4px;
      border: solid 2px #ffffff;
      background-color: #11b1f4;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: #23aae2;

  .row {
    align-items: center;
    display: flex;

    .copyright {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .politika {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .contacts2 {
      display: flex;
      float: right;

      .phone__icon2 {
        margin-top: 7px;
        margin-right: 9px;
      }

      .phone2 {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.31;
        letter-spacing: 0.32px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}

#header_about {
  background-image: url("../img/header.png");

  .hat__about {
    background-image: url("../img/headershadow.png");

    a {
      display:flex;
    }

    .row {
      display: flex;
      align-items: center;
      flex-basis: 100%;
    }
  }



  .menu {
    display: flex;
    white-space: nowrap;


    .menu__item {
      margin-right: 15px;

      a {
        font-family: MuseoSansCyrl;
        text-decoration: none;
        font-size: 11px;
        font-weight: 900;
        letter-spacing: 1.1px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px 6px 10px 6px;
        border-radius: 4px;

        &:hover {
          background: #24354a;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .contacts {
    display:flex;
    white-space: nowrap;
    float: right;

    @include r(992) {
      justify-content: flex-end;
    }

    .contacts__phone {
      font-family: MuseoSansCyrl;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.32px;
      color: #ffffff;
      line-height: 1.31;
    }

    .contacts__img {
      margin-right: 10px;
      margin-top: 7px;

      @include r(992) {
        margin-left: 55px;
      }
    }
  }

  .triple {

    @include r(992) {
      justify-content: flex-end;
    }

    .block {
      width: 28px;
      height: 5px;
      margin-bottom: 3px;
      background-color: white;
    }
  }

  .introduction__about {

    h1 {
      font-family: MuseoSansCyrl;
      font-size: 90px;
      font-weight: 900;
      line-height: 0.91;
      letter-spacing: 41.4px;
      text-align: center;
      color: rgba(255, 255, 255, 0.91);
      margin-top: 204px;
      text-transform: uppercase;

      @include r(992) {
        font-size: 64px;
      }

      @include r(768) {
        font-size: 47px;
        letter-spacing: 20px;
      }
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 51px;
      letter-spacing: 10.2px;
      text-align: center;
      color: rgba(255, 255, 255, 0.91);
      font-weight: 900;
      line-height: 0.91;
      text-transform: uppercase;
      margin-top: 20px;

      @include r(992) {
        font-size: 44px;
      }

      @include r(758) {
        font-size: 33px;
      }
    }

    img {
      display: block;
      margin: 168px auto 98px auto;
    }
  }
}

#partners {
  background-color: #e9e9e9;
  position: relative;
  height: 1112px;

  @include r(992) {
    height: 100%;
    background-color: #FFFFFF;
  }

  .wrapper {
    padding-top: 50px;
    background-color: #FFFFFF;
    position: absolute;
    top: -95px;
    left: 430px;

    @include r(992) {
      position: initial;
      width: 100%;
    }

  .text__description {
    margin: 0 auto 65px auto;
    width: 876px;
    text-align: center;

    @include r(992) {
      width: 100%;
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 18px;
      font-weight: 100;
      line-height: 1.39;
      text-align: center;
      color: #000;

      span {
        font-weight: 900
      }
    }
  }

  .caps {
    display: flex;
    margin-left: 130px;
    margin-bottom: 58px;

    @include r(567) {
      display: block;
    }

    @include r(992) {
      margin-left: 0;
    }

    .caps__item1 {
      margin-right: 42px;

      @include r(992) {
        margin-right: 0;
      }

      span {
        font-size: 39px;
        letter-spacing: 3.9px;
        color: #23aae2;
        text-transform: uppercase;
      }

      p {
        font-family: MuseoSansCyrl;
        font-size: 15px;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 1.2px;
        color: #000;
        text-transform: uppercase;
      }

      @include r(567) {
        text-align: center;
        margin-bottom: 35px;
      }
    }

    .caps__item2 {

      text-align: center;
      margin-top: 15px;
      margin-right: 42px;

      @include r(768) {
      margin: auto;
      }

      p {
        font-family: MuseoSansCyrl;
        font-size: 19.5px;
        font-weight: 100;
        line-height: 1.38;
        letter-spacing: 10.53px;
        text-align: center;
        color: #bdbdbd;
        text-transform: uppercase;
      }

      @include r(567) {
        margin-bottom: 30px;
      }
    }

    .caps__item3 {

      span {
        font-family: MuseoSansCyrl;
        font-size: 30px;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3.6px;
        text-align: left;
        color: #23aae2;
        text-transform: uppercase;
      }

      p {
        font-family: MuseoSansCyrl;
        font-size: 30px;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3.6px;
        text-align: left;
        color: #000;
        text-transform: uppercase;

        @include r(567) {
          text-align: center;
        }
      }
    }
  }

  .ready {
    text-align: center;
    background-color: #23aae2;
    padding-top: 29px;
    padding-bottom: 30px;

    @include r(992) {
      width: 100%;
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 3.6px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }

  .partners {
    padding: 65px 67px 74px 67px;

    h3 {
      opacity: 0.99;
      font-family: MuseoSansCyrl;
      font-size: 29px;
      font-weight: 900;
      letter-spacing: 2.9px;
      text-align: center;
      color: rgba(0, 0, 0, 0.99);
      text-transform: uppercase;
    }

    .content {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;

      @include r(567) {
        display: block;
      }

      .igor {
        text-align: center;
        padding: 37px 33px 41px 33px;
        background-color: #e9e9e9;
        margin-right: 31px;

        @include r(992) {
          width: 354px;
        }

        @include r(567) {
          width: 100%;
          margin-bottom: 30px;
          padding-right: 37px;
          padding-left: 37px;
        }

        h5 {
          font-family: MuseoSansCyrl;
          font-size: 21px;
          font-weight: 900;
          letter-spacing: 1.68px;
          color: #000;
          margin-top: 30px;
          margin-bottom: 41px;
        }

        p {
          font-family: MuseoSansCyrl;
          font-size: 16px;
          font-weight: 100;
          line-height: 1.44;
          letter-spacing: 0.32px;
          text-align: justify;
          width: 367px;

          @include r(992) {
            width: 275px;
          }
        }
      }

      .victor {
        text-align: center;
        padding: 37px 33px 110px 33px;
        background-color: #e9e9e9;

        @include r(992) {
          width: 354px;
        }

        @include r(567) {
          width: 100%;
          padding-right: 37px;
          padding-left: 37px;
        }

        h5 {
          font-family: MuseoSansCyrl;
          font-size: 21px;
          font-weight: 900;
          letter-spacing: 1.68px;
          color: #000;
          margin-top: 30px;
          margin-bottom: 41px;
        }

        p {
          font-family: MuseoSansCyrl;
          font-size: 16px;
          font-weight: 100;
          line-height: 1.44;
          letter-spacing: 0.32px;
          text-align: justify;
          width: 362px;

          @include r(992) {
            width: 268px;
          }
        }
      }
    }
  }
 }
}

#ask_a_question {
  background-image: url("../img/confusing-background.png");
  background-repeat: no-repeat repeat;
  padding-top: 84px;
  padding-bottom: 84px;

  h3 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  h5 {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
  }

  .miniarrow__about {
    display: block;
    text-align: center;
    margin: 35px auto 30px auto;
  }

  .request_call_about {
    text-align: center;

    .placeholder {
      color: #FFFFFF;
    }

    .Input__about {
      display: block;
      margin: 0 auto 9px auto;
      width: 370px;
      padding-top: 29px;
      padding-bottom: 28px;
      padding-left: 36px;
      border-radius: 3px;
      border: solid 1px #ffffff;
      background-color: #30c2ff;
      text-transform: uppercase;
      color: #FFFFFF;

      &:hover {
        box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);

        &::placeholder {
          color: white;
        }
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.56);
        font-family: MuseoSansCyrl;
        font-style: normal;
      }
    }

    .act_about {
      font-family: MuseoSansCyrl;
      font-size: 15px;
      font-weight: 900;
      text-align: center;
      padding: 30px 78px 27px 79px;
      border-radius: 4px;
      border: solid 2px #ffffff;
      background-color: #11b1f4;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

#footer__about {
  background-color: #23aae2;

  .row {
    align-items: center;
    display: flex;

    .copyright__about {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .politika__about {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .contacts2__about {
      display: flex;
      float: right;

      .phone__icon2__about {
        margin-top: 7px;
        margin-right: 9px;
      }

      .phone2__about {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.31;
        letter-spacing: 0.32px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}

#header_move {
  background-image: url("../img/intro2.png");
  background-repeat: no-repeat repeat;
  background-size: cover;

  .header__move {
    background-color: #225269;

    .row {
      align-items: center;
    }

    .menu__move {

      .menu__item__move {
        color: #FFFFFF;
        text-transform: uppercase;
        float: left;

        a {
          font-family: MuseoSansCyrl;
          font-size: 11px;
          font-weight: 900;
          color: #ffffff;
          line-height: 1.55;
          letter-spacing: 1.1px;
          text-decoration: none;
          padding: 13px 10px;

          &:hover {
            background: #345b70;
            padding: 10px;
            border-radius: 5px;
          }
        }
      }
    }

    .contacts__move {
      display: flex;
      float: right;

      .phone__icon__move {
        margin-top: 7px;
        margin-right: 9px;
      }

      .phone__move {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.31;
        letter-spacing: 0.32px;
        text-align: left;
        color: #ffffff;
      }
    }
  }

  .introduction__move {
    padding-top: 84px;
    padding-bottom: 126px;

    h1 {
      opacity: 0.91;
      text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
      font-family: MuseoSansCyrl;
      font-size: 51px;
      font-weight: 900;
      letter-spacing: 10.2px;
      text-align: center;
      color: rgba(255, 255, 255, 0.91);
      text-transform: uppercase;

      @include r(567) {
        line-height: 1.38;
        font-size: 37px;
        letter-spacing: 7.4px;
      }
    }

  .arrow__move {
      text-align: center;
      margin-top: 41px;
    }
  }

  .triple {

    @include r(992) {
      justify-content: flex-end;
    }

    .block {
      width: 28px;
      height: 5px;
      margin-bottom: 3px;
      background-color: white;
    }
  }
}

#move_mainpage {
  background-color: #f7f7f7;
  padding-bottom: 88px;
  position: relative;
  height: 681px;

  @include r(992) {
    background-color: #ffffff;
  }

  @include r(567) {
    height: auto;
  }

  .wrapper{
    padding: 46px 1px 65px 2px;
    box-shadow: 0 3px 1px 0 rgba(159, 160, 160, 0.18);
    background-color: #ffffff;
    margin-top: -100px;
    width: 1030px;
    position: absolute;
    right: 440px;

    @include r(992) {
      box-shadow: none;
      width: 100%;
      padding: 0;
      position: initial;
      height: auto;
      margin: 40px auto auto auto;
    }

    @include r(567) {
      width: 100%;
    }

    p {
      font-family: MuseoSansCyrl;
      width: 912px;
      font-size: 17px;
      font-weight: 100;
      line-height: 1.41;
      letter-spacing: 0.34px;
      text-align: center;
      color: #000000;
      margin: 0 auto 58px;

      @include r(992) {
        width: 100%;
      }

      span {
        font-weight: 900;
      }
    }

    .block {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &:nth-child(2) {

        @include r(567) {
          flex-direction: column;
        }
      }

      &:nth-child(3) {

        @include r(567) {
          flex-direction: column-reverse;
        }
      }

      @include r(567) {
        margin-bottom: 27px;
      }

      .img {
        margin-left: 88px;
        margin-right: 52px;

        @include r(992) {
          margin-left: 0;
          margin-right: 20px;
        }

        @include r(567) {
          margin-bottom: 28px;
        }
      }

      .text {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.44;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
        margin-right: 124px;
        width: 395px;

        @include r(992) {
          margin-right: 0;
        }

        @include r(567) {
          text-align: center;
        }
      }

      .img__second {
        margin-right: 163px;

        @include r(992) {
          margin-right: 0;
        }

        @include r(567) {
          margin: auto;
          width: 297px;
        }
      }

      .text__second {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.44;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
        margin-right: 124px;
        margin-left: 88px;
        width: 402px;

        @include r(992) {
          margin-right: 40px;
          margin-left: 0;
        }

        @include r(567) {
          width: 100%;
          margin-top: 12px;
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }
}

#ask_a_question_move {
  background-image: url("../img/confusing-background.png");
  background-repeat: no-repeat repeat;
  padding-top: 84px;
  padding-bottom: 84px;

  h3 {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  h5 {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
  }

  .miniarrow__move {
    display: block;
    text-align: center;
    margin: 35px auto 30px auto;
  }

  .request_call_move {
    text-align: center;

    .placeholder {
      color: #FFFFFF;
    }

    .Input__move {
      display: block;
      margin: 0 auto 9px auto;
      width: 370px;
      padding-top: 29px;
      padding-bottom: 28px;
      padding-left: 36px;
      border-radius: 3px;
      border: solid 1px #ffffff;
      background-color: #30c2ff;
      text-transform: uppercase;
      color: #FFFFFF;

      &:hover {
        box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);

        &::placeholder {
          color: white;
        }
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.56);
        font-family: MuseoSansCyrl;
        font-style: normal;
      }
    }

    .act_move {
      font-family: MuseoSansCyrl;
      font-size: 15px;
      font-weight: 900;
      text-align: center;
      padding: 30px 78px 27px 79px;
      border-radius: 4px;
      border: solid 2px #ffffff;
      background-color: #11b1f4;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

#footer__move {
  background-color: #23aae2;

  .row {
    align-items: center;
    display: flex;

    .copyright__move {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .politika__move {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .contacts2__move {
      display: flex;
      float: right;

      .phone__icon2__move {
        margin-top: 7px;
        margin-right: 9px;
      }

      .phone2__move {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.31;
        letter-spacing: 0.32px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}

#header_contacts {
   background-image: url("../img/intro2.png");
   background-repeat: no-repeat repeat;
  background-size: cover;

   .header__contacts {
     background-color: #225269;

     .row {
       align-items: center;
     }

     .menu__contacts {

       .menu__item__contacts {
         color: #FFFFFF;
         text-transform: uppercase;
         float: left;

         a {
           font-family: MuseoSansCyrl;
           font-size: 11px;
           font-weight: 900;
           color: #ffffff;
           line-height: 1.55;
           letter-spacing: 1.1px;
           text-decoration: none;
           padding: 13px 10px;

           &:hover {
             background: #345b70;
             padding: 10px;
             border-radius: 5px;
           }
         }
       }
     }

     .contacts__contacts {
       display: flex;
       float: right;

       .phone__icon__contacts {
         margin-top: 7px;
         margin-right: 9px;
       }

       .phone__contacts {
         font-family: MuseoSansCyrl;
         font-size: 16px;
         font-weight: 900;
         line-height: 1.31;
         letter-spacing: 0.32px;
         text-align: left;
         color: #ffffff;
       }
     }
   }

   .introduction__contacts {
     padding-top: 84px;
     padding-bottom: 126px;

     h1 {
       opacity: 0.91;
       text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
       font-family: MuseoSansCyrl;
       font-size: 51px;
       font-weight: 900;
       letter-spacing: 10.2px;
       text-align: center;
       color: rgba(255, 255, 255, 0.91);
       text-transform: uppercase;
     }

     .arrow__contacts {
       text-align: center;
       margin-top: 41px;
     }
   }

  .triple {

    @include r(992) {
      justify-content: flex-end;
    }

    .block {
      width: 28px;
      height: 5px;
      margin-bottom: 3px;
      background-color: white;
    }
  }
 }

#contacts {
  background-color: #f7f7f7;

  @include r(992) {
    background-color: #FFFFFF;
  }

  @include r(567) {
    padding-bottom: 84px;
    padding-top: 50px;
  }

  .wrapper__contacts {
    padding: 54px 101px 62px 110px;
    box-shadow: 0 3px 1px 0 rgba(159, 160, 160, 0.18);
    background-color: #ffffff;
    width: 1030px;
    margin-top: -100px;
    margin-bottom: 87px;
    margin-left: 120px;

    @include r(992) {
      box-shadow: none;
      width: 100%;
      padding: 0;
      margin: 40px auto 50px auto;
    }

    @include r(567) {
      width: 100%;
      margin: auto;
    }

    p {
      font-size: 17px;
      font-weight: 100;
      line-height: 1.35;
      text-align: center;
      color: #000000;

    }

    .wrapper__first__contacts {
      display: flex;
      justify-content: space-between;

      @include r(567) {
        display: block;
      }

      .wrapper__second__contacts {

        .item__contacts {
          display: flex;
          align-items: center;
          margin-bottom: 70px;

          @include r(567) {
            display: block;
          }

          &:nth-child(1) {
            margin-top: 135px;

            @include r(567) {
              margin-top: 85px;
            }
          }

          .img {
            margin-right: 35px;

            @include r(567) {
              text-align: center;
              margin-right: 10px;
            }
          }

          h5 {
            font-size: 18px;
            font-weight: 900;
            line-height: 1.56;
            color: #000000;
            text-transform: uppercase;
            margin-bottom: 15px;

            @include r(567) {
              text-align: center;
            }
          }

          p {
            font-size: 16px;
            font-weight: 100;
            line-height: 1.5;
            text-align: left;
            color: #000000;

            @include r(567) {
              text-align: center;
            }
          }
        }
      }
    }


    .form__contacts {
      padding: 44px 24px 43px 36px;
      background-color: #11b2f5;
      margin-top: 56px;

      h3 {
        font-family: MuseoSansCyrl;
        font-size: 25px;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 2.5px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      span {
        font-family: MuseoSansCyrl;
        font-size: 20px;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 2px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
      }

      p {
        font-family: MuseoSansCyrl;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.3;
        letter-spacing: 1.8px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
      }

      form {
        margin: 33px auto 0 auto;
        text-align: center;

        .form__item__contacts {
          margin-bottom: 7px;

          input {
            font-family: MuseoSansCyrl;
            padding-top: 24px;
            padding-bottom: 21px;
            padding-left: 40px;
            border-radius: 3px;
            border: solid 1px #ffffff;
            background-color: #30c2ff;
            text-transform: uppercase;
            width: 100%;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: 1.1px;
            text-align: left;
            color: rgba(255, 255, 255, 0.56);

            &:hover {
              box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);

              &::placeholder {
                color: white;
              }
            }

            &::placeholder {
              color: rgba(255, 255, 255, 0.56);
              font-family: MuseoSansCyrl;
              font-style: normal;
            }
          }
        }

        button {
          padding: 28px 42px 16px;
          border-radius: 3px;
          border: solid 2px #ffffff;
          background-color: #11b2f5;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 900;
          letter-spacing: 1.3px;
          text-align: center;
          color: #ffffff;
          white-space: nowrap;
          width: 100%;

          &:hover {
            box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);

            &::placeholder {
              color: darkorange;
            }
          }
        }
      }
    }
  }
}

#footer__contacts {
  background-color: #23aae2;

  .row {
    align-items: center;
    display: flex;

    .copyright__contacts {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .politika__contacts {
      opacity: 0.76;
      font-family: MuseoSansCyrl;
      font-size: 14px;
      font-weight: 100;
      text-align: left;
      color: rgba(250, 247, 247, 0.76);
    }

    .contacts2__contacts {
      display: flex;
      float: right;

      .phone__icon2__contacts {
        margin-top: 7px;
        margin-right: 9px;
      }

      .phone2__contacts {
        font-family: MuseoSansCyrl;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.31;
        letter-spacing: 0.32px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}
